@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a Web App to manage your tasks.</p>
	<p>Click on the Tasks link in the navigation bar to get started.</p>
</div>
